.App {
  text-align: center;
  position: relative;
  /* padding: 5rem; */
  min-height: 100%;
  /* background: #000; */
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  position: relative;
}

#BG {
  background: #000;
  z-index: -1;
  position: static;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* opacity: .1; */
}
#BG div {
  flex: 0.3;
  background: green;
}

#TDL {
  width: 40rem;
  /* border: .1rem solid black; */
  /* margin: 5rem auto auto auto; */
  z-index: 1;
  padding: 1rem;
  color: white;
  position: absolute;
  top: 20%;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

form {
  width: 100%;
}
.input-wrapper {
  width: 100%;
}
#input {
  width: 100%;
  outline: 0;
  border: 0;
  border-bottom: .2rem solid white;
  font-size: 1rem;
  background: #000;
  color: white;
}

.todo-item {
  border: .1rem solid red;
  padding: .75rem;
}

.todo-item, #input {
  text-align: left;
  
  display: flex;
  justify-content: space-between;
  margin-top: .5rem;
}

.todo-item.checked {
  border-color: greenyellow;
}

.todo-item span {
  font-weight: 600;
}
.todo-item.checked span {
  color: gray;
  text-decoration:line-through;
  font-weight: 400;
}

.todo-item i {
  cursor: pointer;
}

.todo-item i::before {
  content:"\f00c";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-style: normal;
}

.todo-item.checked i::before {
  content:"\f00d"
  
}

